<div class="train">
    <!--   <div class="exit exit--front train-body"></div> -->
      <div class="exit front train-body">
        <div>Toilet</div><div></div><div></div>
      </div>
     
      <ol class="wagon train-body">
        <li *ngFor="let item of fakeArray;let i = index" class="row row">
              <ol class="seats">
                <li class="seat">
                  <input type="checkbox" (click)="additem(i,0)" [disabled]="!item[0]" id='{{i+1}}A' />
                  <label for='{{i+1}}A'>{{i+1}}A</label>
                </li>
                
                <li class="seat">
                  <input type="checkbox" id='{{i+1}}B' (click)="additem(i,1)" [disabled]="!item[1]"  />
                  <label for='{{i+1}}B' >{{i+1}}B </label>
                </li>
                <li class="seat">
                  <input type="checkbox" id='{{i+1}}C' (click)="additem(i,2)" [disabled]="!item[2]" />
                  <label for='{{i+1}}C'>{{i+1}}C</label>
                </li>
                <li class="seat">
                  <input type="checkbox" id='{{i+1}}D' (click)="additem(i,3)" [disabled]="!item[3]"/>
                  <label for='{{i+1}}D'>{{i+1}}D</label>
                </li>
              </ol>
            </li>
       
      </ol>

      <!-- <ol class="seats">
        <li class="seat">
            <ng-container ></ng-container>
          <input type="checkbox" [disabled]="!item[0][1]" id={{item[0][0]}} />
          <label for={{item[0][0]}}>{{item[0][0]}}</label>
        </li>
        <li class="seat">
          <input type="checkbox" [disabled]="!item[1][1]" id={{item[1][0]}}  />
          <label for={{item[1][0]}} >{{item[1][0]}} </label>
        </li>
        <li class="seat">
          <input type="checkbox" [disabled]="!item[2][1]" id={{item[2][0]}} />
          <label for={{item[2][0]}}>{{item[2][0]}}</label>
        </li>
        <li class="seat">
          <input type="checkbox" [disabled]="!item[2][1]" id={{item[3][0]}} />
          <label for={{item[3][0]}}>{{item[3][0]}}</label>
        </li>
      </ol> -->
      <div class="exit back train-body">
        <div>Toilet</div><div></div><div></div>
      </div>
    <!--   <div class="exit exit--back train-body"></div> -->
    </div>
    <pre>
        
      {{ Seat | json }}
  </pre >