<button type="button" class="btn btn-primary" (click)="openModal(template)">
    Add Station <i class="bi bi-plus-circle"></i>
</button>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{title}}</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form #myForm="ngForm" id="stationform" class="row g-3 needs-validation" (ngSubmit)="onstationsubmit()" novalidate>
            <!-- <div class="col-md-6">
                <label for="trainNo" class="form-label">Train No</label>
                <input type="number" class="form-control" id="trainNo" name="trainNo" [(ngModel)]="model.trainNo"
                    required />
                <div class="valid-feedback">Looks good!</div>
            </div> -->
          
            <div class="col-md-6">
                <label for="fromStation" class="form-label">Station Name</label>
                <div class="input-group has-validation">
                    <input type="text" class="form-control"  aria-describedby="inputGroupPrepend"
                        name="stationName" [(ngModel)]="model.stationName" required />

                    <div class="invalid-feedback">Please Select station</div>
                </div>
            </div>
            <div class="col-md-6">
                <label for="toStation" class="form-label">Code</label>
                <input type="text" class="form-control" id="toStation" name="ToStation" [(ngModel)]="model.stationShortCode"
                    required />

                <div class="invalid-feedback">Please provide a valid city.</div>
            </div>
            <div class="col-md-6">
                <label for="toStation" class="form-label">Longitude</label>
                <input type="text" class="form-control" id="toStation" name="longitude" [(ngModel)]="model.longitude"
                    required />

                <div class="invalid-feedback">Please provide a valid city.</div>
            </div>
            <div class="col-md-6">
                <label for="toStation" class="form-label">Latitude</label>
                <input type="text" class="form-control" id="toStation" name="latitude" [(ngModel)]="model.latitude"
                    required />

                <div class="invalid-feedback">Please provide a valid city.</div>
            </div>
        </form>        
    </div>
    <div class="modal-footer">
        <button type="button" id="close" class="btn btn-secondary" (click)="modalRef?.hide()">
          Close
        </button>
        <button type="submit" form="stationform" class="btn btn-primary">{{isUpdateStation ? 'Update':'Add'}}</button>
      </div>
</ng-template>