<app-nav></app-nav>

<div class="containnav">
    <!-- <app-searchstation></app-searchstation> -->
<!-- <app-test></app-test> -->
<!-- <app-checkout></app-checkout> -->
<!-- <app-history></app-history> -->
<!-- <app-seat-arrange-ment></app-seat-arrange-ment> -->
<!-- <app-search-result></app-search-result> -->
<router-outlet></router-outlet>
<!-- <app-booking></app-booking> -->
<!-- <app-test></app-test> -->
<!-- <app-crud-train></app-crud-train> -->
<!-- <app-test-component></app-test-component> -->

</div>