<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand me-2">
      <img
        src="../../assets/Img/Logo/logo2.svg"
        height="45"
        alt="MDB Logo"
        loading="lazy"
        style="margin-top: -1px"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarButtonsExample"
      aria-controls="navbarButtonsExample"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarButtonsExample">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >Home</a>
        </li>
        <li class="nav-item" *ngIf="userService.roleMatch(['Admin'])">
          <a class="nav-link" routerLink="/Admin"
           routerLinkActive="active"  [routerLinkActiveOptions]="{exact: true}">Train</a>
        </li>
        <li class="nav-item" *ngIf="userService.roleMatch(['Admin'])">
          <a class="nav-link" routerLink="Admin/Route"
           routerLinkActive="active"  [routerLinkActiveOptions]="{exact: true}">Route</a>
        </li>
        <li class="nav-item" *ngIf="userService.roleMatch(['Admin'])">
          <a class="nav-link" routerLink="/Admin/Station" 
           routerLinkActive="active" >Station</a>
        </li>
        <li class="nav-item" *ngIf="userService.roleMatch(['Admin'])">
          <a class="nav-link" routerLink="/Admin/Booking" 
           routerLinkActive="active" >Bookings</a>
        </li>
        <li class="nav-item" *ngIf="userService.roleMatch(['Admin'])">
          <a class="nav-link" routerLink="/Admin/Chart" 
           routerLinkActive="active" >Chart</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link"[routerLink]="['SearchStation']" routerLinkActive="active" >Search Station</a>
        </li>
  
        <li class="nav-item" *ngIf="userService.roleMatch(['User'])">
          <a class="nav-link"[routerLink]="['User/bookings']" routerLinkActive="active" >Booking</a>
        </li>
      </ul>
      <div class="d-flex align-items-center" *ngIf="!isLoggedIn()">

        <button type="button" class="btn btn-secondary px-3 me-2" [routerLink]="['Login']">Login</button>
        <button type="button" class="btn btn-primary signup me-3"  [routerLink]="['Signup']">
          Sign up
        </button>
      </div>
      <div class="d-flex align-items-center" *ngIf="isLoggedIn()">

        <button type="button" class="btn btn-secondary px-3 me-2" (click)="logout()">Sign Out</button>
      
      </div>
    </div>
  </div>
</nav>
