<ul class="nav nav-tabs justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" data-bs-toggle="tab" href="#train"
      >Train Management</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" data-bs-toggle="tab" href="#Route" (click)="GetAllRoute()"
      >Route Management</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" data-bs-toggle="tab" href="#Station" (click)="GetAllStation()"
      >Station Management</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" data-bs-toggle="tab" href="#Chart">Chart Management</a>
  </li>
</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade active show" id="train">
    <!--Train-->
    <div class="container mt-2">
      <div class="row mt-2">
        <div class="col"><button class="btn btn-primary">Add <i class="bi bi-plus-circle"></i></button></div>
      </div>
      <div class="row mt-2">
        <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Train No</th>
            <th scope="col">trainName</th>
            <th scope="col">fromStation</th>
            <th scope="col">toStation</th>
            <th scope="col">daysRun</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of trains">
            <td>{{ item.trainNo }}</td>
            <td>{{ item.trainName }}</td>
            <td>{{ item.fromStation }}</td>
            <td>{{ item.toStation }}</td>
            <td>{{ item.daysRun }}</td>
            <td>
              <a class="btn btn-sm btn-primary mx-1">
                <i class="bi bi-pencil"></i>
              </a>
              <a  class="btn btn-sm btn-danger">
                <i class="bi bi-trash-fill"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="Route">
    <!--Route-->

    <div class="container mt-2">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">rId</th>
            <th scope="col">train_Id</th>
            <th scope="col">stations</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of routes">
            <td>{{ item.rId }}</td>
            <td>{{ item.train_Id }}</td>
            <td>{{ item.stations }}</td>           
            <td>
              <a class="btn btn-sm btn-primary mx-1">
                <i class="bi bi-pencil"></i>
              </a>
              <a  class="btn btn-sm btn-danger">
                <i class="bi bi-trash-fill"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="tab-pane fade" id="Station">
    <!--Station-->
    <div class="container mt-2">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Station Name</th>
            <th scope="col">Code</th>
            <th scope="col">Location</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of stations">
            <td>{{ item.stationName }}</td>
            <td>{{ item.stationShortCode }}</td>
            <td>{{ item.stationLocation }}</td>           
            <td>
              <a class="btn btn-sm btn-primary mx-1">
                <i class="bi bi-pencil"></i>
              </a>
              <a  class="btn btn-sm btn-danger">
                <i class="bi bi-trash-fill"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="tab-pane fade" id="Chart">
    <p>
      chart
    </p>
  </div>
</div>
