<div>
    <!-- <p>
      <button type="button" class="btn btn-primary btn-sm" (click)="selectTab(1)">Select second tab</button>
      <button type="button" class="btn btn-primary btn-sm" (click)="selectTab(2)">Select third tab</button>
    </p> -->
    <tabset class="justify-content-center" #staticTabs>
      <tab heading="Book Train">
        <app-vhome></app-vhome>
      </tab>
      <tab heading="Bookings">
        <app-history></app-history>
      </tab>
      <tab heading="Search Station">
        <app-searchstation></app-searchstation>
      </tab>
      <tab heading="FeedBack">FeedBack</tab>
    </tabset>
    
  </div>