<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Login</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="close()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form #stationForm="ngForm" id="stationform" class="row g-3 needs-validation" (ngSubmit)="onstationsubmit()"
            novalidate>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>

        </form>
    </div>
    <div class="modal-footer">
        <button type="button" id="close" class="btn btn-secondary" (click)="close()">
            Close
        </button>
        <button type="submit" form="stationform" class="btn btn-primary">
            Sign Up
        </button>
    </div>
</ng-template>