<button type="button" class="btn btn-primary" (click)="openModal(templates)">
  Create template modal
</button>

<ng-template class="modal-dialog-centered" #templates>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Add Train</h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="modalRef?.hide()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form
      #myForm="ngForm"
      id="myform"
      class="row g-3 needs-validation"
      (ngSubmit)="onsubmit()"
      novalidate
    >
      <div class="col-md-6">
        <label for="trainNo" class="form-label">Train No</label>
        <input
          type="number"
          class="form-control"
          id="trainNo"
          name="trainNo"
          [(ngModel)]="model.trainNo"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="col-md-6">
        <label for="trainName" class="form-label">Train Name</label>
        <input
          type="text"
          class="form-control"
          id="trainName"
          name="trainName"
          [(ngModel)]="model.trainName"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="col-md-6">
        <label for="fromStation" class="form-label">Starting Station</label>
        <div class="input-group has-validation">
          <input
            (ngModel)="fromstation.fromStation"
            [ngModelOptions]="{standalone: true}"
            [typeahead]="allstations"
            [isAnimated]="true"
            typeaheadOptionField="stationName"
            [typeaheadScrollable]="true"
            [typeaheadOptionsInScrollableView]="5"
            (typeaheadOnSelect)="onSelect($event)"
            class="form-control"
          />
          <!-- <div class="ng-autocomplete">
                    <ng-autocomplete [data]="allstations" [searchKeyword]="keyword"
                        placeholder="Choose Station" (selected)="SelectStart($event)"
                        [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate">
                        [(ngModel)]="Model.toStation">
                    </ng-autocomplete>

                    <ng-template #itemTemplate let-item>
                        <a [innerHTML]="item.stationName"></a>
                    </ng-template>

                    <ng-template #notFoundTemplate let-notFound>
                        <div [innerHTML]="notFound"></div>
                    </ng-template>
                </div> -->
          <div class="invalid-feedback">Please Select station</div>
        </div>
      </div>
      <div class="col-md-6">
        <label for="toStation" class="form-label">Destination Station</label>
        <div class="ng-autocomplete">
          <ng-autocomplete
            [data]="allstations"
            [searchKeyword]="keyword"
            placeholder="Choose Station"
            (selected)="SelectDestination($event)"
            [itemTemplate]="itemTemplate"
            [notFoundTemplate]="notFoundTemplate"
          >
            [(ngModel)]="Model.ToStation">
          </ng-autocomplete>

          <ng-template #itemTemplate let-item>
            <a [innerHTML]="item.stationName"></a>
          </ng-template>

          <ng-template #notFoundTemplate let-notFound>
            <div [innerHTML]="notFound"></div>
          </ng-template>
        </div>
        <div class="invalid-feedback">Please provide a valid city.</div>
      </div>

      <div class="col-12">
        <label for="validationCustom04" class="form-label">Days Run </label>
        <br />

        <div class="invalid-feedback">Please select days run.</div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input
              name="DaysRun"
              (click)="additem(0)"
              type="checkbox"
              class="form-check-input"
            />Sun
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input
              name="DaysRun"
              (click)="additem(1)"
              type="checkbox"
              class="form-check-input"
            />Mon
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input
              type="checkbox"
              (click)="additem(2)"
              class="form-check-input"
            />Tue
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input
              type="checkbox"
              (click)="additem(3)"
              class="form-check-input"
            />Wed
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input
              type="checkbox"
              (click)="additem(4)"
              class="form-check-input"
            />Thu
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input
              type="checkbox"
              (click)="additem(5)"
              class="form-check-input"
            />Fri
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input
              type="checkbox"
              (click)="additem(6)"
              class="form-check-input"
            />Sat
          </label>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef?.hide()">
      Close
    </button>
    <button type="submit" form="myform" class="btn btn-primary">
      Save changes
    </button>
  </div>
</ng-template>
